{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
</header>

{{- if .Content }}
<div class="post-content md-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

<ul class="paper-list">
  {{- range .RegularPages.ByDate.Reverse }}
  <li class="paper-list-item">
    <a class="paper-list-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{- if not .Date.IsZero }}
    <time class="paper-list-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date | time.Format (site.Params.DateFormat | default ":date_long") }}</time>
    {{- end }}
    {{- with .Params.summary }}
    <p class="paper-list-summary">{{ . }}</p>
    {{- end }}
  </li>
  {{- end }}
</ul>

{{- end }}{{/* end main */}}
